*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.list-container{
    background-color: #055565;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px #00000066;
    border-radius: 10px;
    width: 100%;
}